body {
  font-size: 120%;
  font-family: sans-serif;
}

header {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 4fr;
}

button, input {
  font-size: 100%;
  margin: 5px 0;
  padding: 5px;
}

table {
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.error {
  color: red;
}

.wrapper {
  margin: 0 auto;
  padding: 10px;
  max-width: 850px;
  text-align: center;

}

.total {
  font-size: 150%;
  text-align: right;
  /* text-decoration: underline; */
  padding: 0.5rem;
  grid-template-areas: 1 / 2 / 2 / 6;
}

.form {
  margin-top: 20px;
  width: 100%;
}

.transactions {
  text-align: left;
  max-height: 300px;
  overflow: auto;
  width: 90%;
  margin: 0 auto;
}

#icon-img {
  height: 72px;
  margin: 0;
  text-align: right;
  grid-template-areas: 1 / 1 / 2 / 2;
}

#total {
  text-decoration: underline;
}

@media screen and (max-width: 650px){
  body {
    margin: 0 auto;
  }
  .total {
    font-size: 135%;
  }
  .form {
    display: grid;
    place-items: center;
    grid-template: 1fr 1fr / 1fr 1fr;
    margin: 10px 5px 5px 5px;
    width: 95%;
  }

  .transactions {
    width: 98%;
  }

  input {
    width: 93%;
  }

  button {
    width: 98%;
  }

  #icon-img {
    height: 52px;
  }
}
