body {
  font-size: 120%;
  /* font-family: 'Catamaran', sans-serif; */
  font-family: 'Trebuchet MS';
}

header {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 5fr;
}

button, input {
  font-size: 100%;
  font-weight: 400;
  margin: 5px 0;
  padding: 5px;
}

button {
  background-color: hsl(240, 100%, 67%);
  /* color: hsl(0, 0%, 96%); */
  color: white;
}

table {
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

td {
  font-weight: 200;
}
th {
  background-color: #b3bfff;
}

tr:nth-child(even) {
  /* background-color: hsl(210, 90%, 85%); */
  background-color:hsl(0, 0%, 92%);
}

.error {
  color: red;
}

.wrapper {
  margin: 0 auto;
  padding: 10px;
  max-width: 850px;
  text-align: center;

}

.total {
  font-size: 150%;
  font-weight: 900;
  text-align: right;
  margin-right: 5px;
  color: hsl(240, 100%, 30%);
  padding: 1rem 0.2rem;
  grid-template-areas: 1 / 2 / 2 / 7;
}

.form {
  margin-top: 20px;
  width: 100%;
}

.transactions {
  text-align: left;
  max-height: 300px;
  overflow: auto;
  width: 90%;
  margin: 0 auto;
}
/* #icon-fig {
  border: 1px solid black;
} */
#icon-img {
  display: flex;
  align-self: baseline;
  height: 84px;
  margin: 0;
  grid-template-areas: 1 / 1 / 2 / 2;
}

#total {
  text-decoration: underline;
}

@media screen and (max-width: 650px){
  body {
    margin: 0 auto;
  }
  .total {
    font-size: 130%;
    padding: 1rem 0;
  }
  .form {
    display: grid;
    place-items: center;
    grid-template: 1fr 1fr / 1fr 1fr;
    margin: 10px 5px 5px 5px;
    width: 95%;
  }

  .transactions {
    width: 98%;
  }

  input {
    width: 93%;
  }

  button {
    width: 98%;
  }

  #icon-img {
    height: 72px;
    align-self: center;
  }
}
