body {
  font-size: 120%;
  font-family: sans-serif;
}

button, input {
  font-size: 100%;
  margin: 5px 0;
  padding: 5px;
  /* border: 1px black solid;
  border-radius: 5px; */
}

table {
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.error {
  color: red;
}

.wrapper {
  margin: 0 auto;
  padding: 10px;
  max-width: 850px;
  text-align: center;

}

.total {
  font-size: 150%;
  /* text-decoration: underline; */
  padding: 0.5rem;
}

.form {
  margin-top: 25px;
  width: 100%;
}

.transactions {
  text-align: left;
  max-height: 300px;
  overflow: auto;
  width: 90%;
  margin: 0 auto;
}

#total {
  text-decoration: underline;
}

@media screen and (max-width: 650px){
  body {
    margin: 0 auto;
  }

  .form {
    display: grid;
    place-items: center;
    grid-template: 1fr 1fr / 1fr 1fr;
    margin: 20px 5px 5px 5px;
    width: 95%;
  }

  .transactions {
    width: 98%;
  }

  input {
    width: 93%;
  }

  button {
    width: 98%;
  }
}
